<% include ../partials/header_logined %>



<div class="container">
    <div class="row">
      <div class="col-sm-12">
          <h2 class="text-center login-title">thanks, your laundry is been comfirm</h2>
          <p>please call 707-293-7762 if you have any question</p>
          <p>you will also get comfirm email -<%=user.username %></p>
          <h4>order detail:</h4>
          <ul class="user-details">
              <li>customer email --->  <%=user.username %></li>
              <li>customer Name --->  <%= user.displayName %></li>
              <li>customer phone --->  <%= order.order_phone %></li><br>

              <li>order date --->  <%= order.order_date.toDateString() %></li>
              <li>order title --->  <%= order.order_title %></li>
              <li>order status --->  <%= order.order_status %></li><br>
              
              <li>pickup date --->  <%= order.order_pickup_date %></li>
              <li>pickup time --->  <%= order.order_pickup_time %></li>
              <li>return date --->  <%= order.order_return_date %></li>
              <li>return time --->  <%= order.order_return_time %></li>
              <li>customer note --->  <%= order.order_content %></li><br>


              <li><b>order estimated total ---> $ <%= order.order_total %></b></li>
              
            </ul>

           











      </div>
    </div>
  </div>

  

  <% include ../partials/footer %>
 