<% include ../partials/header_manager %>
<div class="container">

<form method="post" action="/manager_penel/products/update/<%= item._id %>"> 
<div class="row">
<div class="col-sm-8">
    
        <h1>edit product</h1>
        

        <div class="form-group">
            <label for="item">product_name</label>
            <input type="text" class="form-control" id="item" name="product_name" value="<%= item.product_name %>">
        </div>
        <div class="form-group">
                <label for="item">product_price</label>
                <input type="text" class="form-control" id="item" name="product_price" value="<%= item.product_price %>">
            </div>
            <div class="form-group">
                    <label for="item">product_quantity</label>
                    <input type="number" class="form-control" id="item" name="product_quantity" value="<%= item.product_quantity %>">
                </div>
        <div class="form-group">
            <label for="item">product_description</label>
            <textarea type="text" class="form-control" id="item" name="product_description" rows="5"><%= item.product_description %></textarea>
        </div>
      

</div>
<div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Update</button>
</div>
    
</div><!-- row -->

      




        
    
    
    
</form>   
</div>
<% include ../partials/footer %>